/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Space Grotesk", sans-serif;
  --color-primary: #0da6f2;
  --color-background-light: #f5f7f8;
  --color-background-dark: #101c22;
}

body {
  font-family: var(--font-display);
  background-color: var(--color-background-light);
  color: #0f172a; /* slate-900 */
}
